/* Zet de vlakken naast elkaar en geeft ze een border */

body {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
}

div {
  border: 1px solid black;
  height: 100vh;
}

/* 👇 Vul steeds de background property in */

div:nth-child(1) {
  background: linear-gradient(to right, rgb(236, 126, 126), rgb(236, 168, 126)) ; 
}

div:nth-child(2) {
  background: linear-gradient(to right, rgb(236, 168, 126), rgb(236, 208, 126));
}

div:nth-child(3) {
  background:  linear-gradient(to right, rgb(236, 208, 126), rgb(231, 213, 18));
}

div:nth-child(4) {
  background: linear-gradient(to right, rgb(248, 196, 40), rgb(255, 237, 38));
}

div:nth-child(5) {
  background: linear-gradient(to right, indigo, hsl(287, 86%, 48%));
}

div:nth-child(6) {
  background: linear-gradient(to right, hsl(287, 86%, 48%), hsl(304, 86%, 48%));
}

div:nth-child(7) {
  background: linear-gradient(to right, hsl(304, 86%, 48%), hsl(327, 86%, 48%));
}